body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.938rem;
}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 351px;
    height: 456px;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 96px 192px 1fr;
    grid-template-areas:
        "level"
        "price"
        "attr"
        "learn-more";
    justify-items: center;
    align-items: center;
}

.card .level {
    grid-area: level;
}

.card .price {
    grid-area: price;
    font-size: 3.75rem;
}

.annually-price {
    display: none;
}

.card .attr {
    grid-area: attr;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.card div {
    padding: 10px 0px;
    margin: 0px
}

hr {
    width: 100%;
}

.card .learn-more {
    grid-area: learn-more;
    text-decoration: none;
    background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 85%;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}